h1 {
  text-align: center;
  color: white;
  background: black;
  padding: 5px;
}
body {
  background: linear-gradient(22.5deg, red, white);
  font-family: Verdana;
  padding: 15px;
}
.column1 {
  width: 48%;
  float: left;
}
.column2 {
  width: 48%;
  float: right;
}
.photo {
  width: 300px;
  height: 300px;
  transform: rotate(15deg);
